*{
    padding: 0;
    margin: 0;
}
.header{
    background-color: orange;
    height: 45px;
    text-align: center;
}

.header h1{
    font-family: cursive;
}


.header a{
    padding: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-decoration: none;
    font-weight: bolder;

}
.header a:hover{
    color: red;
}

.shirt{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shirt h1{
    font-family: cursive;
    text-decoration: underline;

}

.cloth1{
    padding-top: 100px;
}

.cloth1 img{
    border: 2px solid black;
}

.cloth1 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.cloth1 button{
    width: 235px;
    text-align: center;
    font-family: cursive;
    background-color: orange;
    border-radius: 20px;
}


.cloth1 button:hover{
    background-color: white;
}


.cloth2{
    padding-top: 100px;
    padding-left: 50px;
}

.cloth2 img{
    border: 2px solid black;
}

.cloth2 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.cloth2 button{
    width: 235px;
    text-align: center;
    font-family: cursive;
    background-color: orange;
    border-radius: 20px;
}


.cloth2 button:hover{
    background-color: white;
}


.cloth3{
    padding-top: 100px;
    padding-left: 50px;
}

.cloth3 img{
    border: 2px solid black;
}

.cloth3 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.cloth3 button{
    width: 235px;
    text-align: center;
    font-family: cursive;
    background-color: orange;
    border-radius: 20px;
}

.cloth3 button:hover{
    background-color: white;
}




.cloth4{
    padding-top: 100px;
    padding-left: 50px;
}

.cloth4 img{
    border: 2px solid black;
    width: 235px;
    height: 6cm;
}

.cloth4 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.cloth4 button{
    width: 235px;
    text-align: center;
    font-family: cursive;
    background-color: orange;
    border-radius: 20px;
}


.cloth4 button:hover{
    background-color: white;
}

.images{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.pants{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pants h1{
    font-family: cursive;
    text-decoration: underline;

}

.i2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}



.cloth2b{
    padding-top: 100px;
    padding-left: 50px;
}

.cloth2b img{
    border: 2px solid black;
    height: 6cm;
}

.cloth2b p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.cloth2b button{
    width: 235px;
    text-align: center;
    font-family: cursive;
    background-color: orange;
    border-radius: 20px;
}

.cloth2b button:hover{
    background-color: white;
}


body{
    background-color: lightgray;
}



main .a{
    margin-top: 60px;
    padding-left: 80vw;
}

main a{
    color: black;
    font-size: 30px;
    font-weight: bold;
}

main a:hover{
    color: red;
}


main .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}


main .content h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: lighter;
}

main .content p{
    font-size: larger;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer{
    margin-top: 50px;
    background-color: black;
    height: 220px;
}

footer p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    padding-left: 5px;
    
}


footer h4{
    color: white;
    padding-top: 40px;
    padding-left: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


footer .input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p a{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}


footer .input input{
    width: 350px;
    border:none;
    color: white;
    background-color: black;
    text-align: center;
    height: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 35px;
}
<<<<<<< HEAD
main div.cat h2{
    padding-top: 50px;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main div.dog p{
    padding-top: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    padding-left: 4px;
    text-decoration: wavy;
}
footer div.cont{
    padding: 0;
    width: 300px;
    border:none;
    color: white;
    background-color: black;
    text-align: center;
    height: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
main dt{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 4px;
}
main dl{
    padding-left: 6px;
}
main div.rat p{
    color: red;
    padding-left: 6px;
    padding-top: 10px;
}
=======
/* landingPage */
.bodyTwo{
    background-image:linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url(../veritas-g-a-sportsWear/landingImg/sports-brands.jpg);
    background-size: cover;
}
.logoContainer{
    display: inline-block;
    padding-top: 30px;
    padding-left: 50px;
}
.brandName{
    color: white;
    display: inline;
    font-family:sans-serif;
}
.brandName span{
    color: orange;
    font-size: 50px;
}
.headingLinks{
    display: inline;
    padding-left: 60px;    
}
.headingContainer ul{
    display: inline;
}
.linkContainers{
    display: inline-block;
    padding-left: 750px;
}
a{
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 20px;
}
a:hover{
    color: orange;
}
.content h1{
    font-size: 70px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    color: white;
}
.content h1 span{
    color: orange;
}    
.content p{
    color: white;
}
.content button{
    color: white;
    background-color:rgb(255, 115, 0);
    height: 50px;
    width: 300px;
    border-radius: 10%;
    border: 4px white solid;
}
.content button a{
    text-decoration: none;
    font-size: 30px;
    color: white;
}
.content button:hover{
    border: none;
}
.content{
    padding-top: 150px;
}
>>>>>>> 012697d1e36a26148e13c3c6f777a461be25037a
